.container
{
    width: 80%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 30px auto;
}

.list
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.langlist
{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 30px;
}

.langbtn
{
    border: none;
    background-color: rgb(50,50,50);
    color: orangered;
    padding: 5px 10px;
    border-radius: 10px;
}